body, html {
    margin: 0;
    font-family: sans-serif;
}

#content {
    margin-left: auto;
    margin-right: auto;
 }

.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

input[type=text] {padding:5px; border:2px solid #ccc; 
    -webkit-border-radius: 5px;
        border-radius: 5px;
        width: 70% ;
}
input[type=text]:focus {border-color:#333; }
    
input[type=submit] {padding:5px 15px; background:#FFBF00; border:0 none;
        cursor:pointer;
        -webkit-border-radius: 5px;
        border-radius: 5px; }

h1 {
    color: hsl(288, 95%, 47%);
    font-family: Comic Sans MS;
    font-size: 16px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 1px;
}